*{
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.navbar{
  
  color: whitesmoke;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nuevoproducto_container{
  
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top:20px;
  padding: 20px;
  
  
}

.form_container{
  display: flex;
  flex-direction: column;
  align-items:;
  justify-content:center;
  padding: 10px;
  width: 60%;
  
  
}

.form_container h2 {
  margin-bottom:20px;
  
}



label{
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;

}


.form-control{
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
  padding: 5px;
  color: whitesmoke;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border: none;
  outline: none;
  
}

.btn_nuevoproducto{
  padding: 10px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  outline: inherit;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  width:60%;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  

}

h2{
  text-align: center;
  color: whitesmoke;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 50px;

}

table{
  background-color: rgba(255,255,255,0.3);
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: auto;
  width: 80%;
  margin-top: 20px;
 
}


.editar{
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 5px;
  color: whitesmoke;
  font-weight: 500;
  border: none;
  font-size: 16px;
  cursor: pointer;
  
}

.btn_eliminar{
  padding: 5px;
  background-color: rgba(223, 151, 149, 0.63);
  border:none;
  color: rgba(177, 43, 43, 0.705);
  font-weight: 500;
  font-size: 16px;
  margin-left:5px;
  cursor: pointer;
  


}

tbody{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

span{
  font-weight: 550;
}


td{
  padding: 10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-bottom: solid 3px rgba(255,255,255,0.1);
}

.titulos{
  background-color: rgba(255,255,255,0.3);
    
}

.alerta_error{
  background-color: rgba(223, 151, 149, 0.63);
  color: rgba(177, 43, 43, 0.705);
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .nuevoproducto_container{
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container_btn{
    
    display: flex;
    flex-direction: column;
  }

  .btn_eliminar{
    margin-top: 5px;
  }

}


